  {% extends "templateUser.html.twig" %}

  {% block title %}Insert Blog{% endblock %}

  {% block content %}
  <!-- <div class="d-flex justify-content-start">
  <button type="button" class="btn btn-primary btn-lg">se deconnecter</button>
  </div> -->
  <!--  CECI SERA LA VUE DU BLOGPOST PRINCIPAL  -->

  <div class="m-5">

    <h1 class="jumbotron">{{blogPost.getTitre()}}</h1>
    <h6 class="">{{blogPost.getChapo()}}</h6>
    <h6 class="">{{blogPost.getDateCreation()}}</h6>
    <h4 class="">{{blogPost.GetAuteur()}}</h4>
    <p class="lead">{{blogPost.getContent()}}</p>
    <hr class="my-4">

    <form action="/ajouterCommentaire" method="POST">
      <div class="form-group">
        <input type="hidden" id="blogPostid" name="blogPostid" value="{{ blogPost.GetId() }}" />

        <label for="contentComment">COMMENTAIRES</label>
        <textarea class="form-control" id="contentComment" name="contentComment" rows="3"></textarea>
      </div>
      <button class="btn btn-primary btn-lg" type="submit">Commenter</button>
    </form>

    <ul style="margin-top: 30px;">



      <div class="container">
  
    
    
  

      {% for commentarray in  commentaireDuBlogPost   %}
      {% for comment in commentarray  %}
<div class="row m-5">
      <div class="col-sm-2">
          <a href="#" class="pull-left">
              <img src="https://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">
          </a>
      </div>

      <div class="col-sm-10">
          <span class="text-muted pull-right">
              {{ comment.GetAuteur() }}
          </span>
          <strong class="text-success">{{ comment.GetAuteur() }}</strong>
          <p>
              {{ comment.GetComment() }}
          </p>
      </div>




      <hr>
</div>

      {% endfor %}
      {% endfor %}

      </div>
      
      

      {% endblock %}




